// =============================================================================
// Accounts Styles
// (c) Mathigon
// =============================================================================


@import "./main";
@import "./styles/forms";


h1 { text-align: center; margin-bottom: 1.5em; }
h1 x-icon { margin: 0 8px -14px; }

.form-min-height { min-height: 360px; }
.m-red { color: $red; }

.avatar {
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid white;
  border-radius:100%;
  display: block;
  margin: 0 auto 6px;
}

hr + h2 { margin-top: 1em; }

x-password {
  input { background-position: top 10px right 48px; padding-right: 44px; }
  input:valid { background-image: none !important; }

  // Don't show check
  .Too.Short { color: $red; }
  .Weak, &.OK { color: $yellow; }
  .Strong { color: $green; }

  .toggle {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .2s;

    &:hover, &:focus { opacity: 0.5; }
    &.on { opacity: 1; }
  }
}

.signup-box {
  max-width: 580px;
  margin: 0 auto;

  .signup-tabs { display: flex; justify-content: center; margin-bottom: 1.5em; }

  .signup-tab {
    border: 2px solid $blue;
    text-align: center;
    padding: 2px 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: 92px;

    color: $blue;
    fill: $blue;
    transition: color .2s, fill .2s, background .2s;

    x-icon { margin: 0 auto -4px; display: block; }
    &:first-child { border-radius: 6px 0 0 6px; border-right: none; }
    &:last-child { border-radius: 0 6px 6px 0;  border-left: none; }

    &:hover { background: rgba($blue, 20%); }
    &.active { background: $blue; color: white; fill: white; cursor: default; }
  }

  .signup-body { min-height: 400px; }
  .signup-step > p { padding: 0 8px; text-align: center; }
  .small-form { max-width: 440px; margin: 0 auto; }

  .btn-row { display: flex; flex-wrap: wrap; justify-content: center; margin: 8px 0 0; }
  .btn { display: block; min-width: 160px; margin: 8px; }
  .alternative { text-align: center; font-size: 16px; font-weight: 600; }
  .alternative { a, .a { display: inline-block; margin: 12px 20px 0; } }
}

.btn.account-type {
  height: auto;
  fill: white;
  line-height: 1;
  padding: 6px 20px 12px;
  x-icon { display: block; margin: 0 auto; }
}
